html {
	font-family: 'Montserrat', sans-serif;
}
.element.style {
    font-optical-sizing: auto;
    font-family: "Montserrat script=latin rev=1";
    font-weight: 100;
    font-style: normal;
    line-height: initial;
    font-variation-settings: "opsz" 64;
}
body {
	background-color: #1A1815;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}
/*HEADER*/
h1 { 
	padding: 5% 5% 0px 3S%;
	text-align: center;
	font-size: 100px; 
	color: #E4E4DB;
}

h1 a{
	text-decoration: none;
	color: #E4E4DB;
}


.whitelink {
	text-decoration: none; color: #E4E4DB;
}
/*NAV*/
.overlay{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	background-color: black;
	overflow: hidden;
	opacity: 0.9;
	transition: 0.5s;
}
.overlay a {
	padding: 25px;
	text-decoration: none;
	color: #E4E4DB;
	display: block;
	transition: 0.5s;
}

.overlay-content {
	position: relative;
	font-size: 40px;
  	top: 20%; /* 25% from the top */
  	width: 100%; /* 100% width */
  	text-align: center; /* Centered text/links */
 	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}


.overlay a:hover, .overlay a:focus{
	color: #DBBAB2;
} 



.overlay .closeBtn {
	position: absolute;
	top: 2px;
	right: 10px;
	font-size: 50px;
	transition: 0.5s;

}
span{
	cursor: pointer;
	font-size: 20px;
	color: white;
	font-weight: bold;
	padding: 20px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*SECTION DIV 1. search bar */
.uno {
	margin:auto;
	max-width:400px;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #E4E4DB;
  color: black;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #E4E4DB;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
/*SECTION DIV 2. about us */
h3{
	color: #E4E4DB;
	text-align: center;
}
p {
	color: white;
	text-align: center;
}

.due {
	background-color: black;
}
/*SUBMIT FORM*/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 70%%;
  padding: 25%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 90px 12px 12px 12px;
  display: inline-block;
  font-weight: bold;
}

#subject {
	text-align: center;
}


/* Style the submit button */
input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  /*position: relative;*/
  border-radius: 10px;
  background-color: #E4E4DB;
  padding: 15px;
  margin: auto;
  max-width:600px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.form{
	text-align: center;
}

/*Documentazione*/
h2 {
	text-align: center;
	color: #E4E4DB;
	font-size: 35px;
	font-weight: bold;
}

h3 {
	text-align: center;
	color: white;
	font-size: 125%;
	font-weight: bold;
}

#abs {
	font-size: 30px;
}

.sub {
	text-align: center;
	color:  white;
	font-size: 25px;
	font-weight: bold;
}

.bullet{
	color: #E4E4DB;
	text-decoration: underline;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#lay {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.doc {
	font-size: 130%;
	font-weight: 500;
	color:  #E4E4DB;
}

#comp{
	font-size: 150%;
	font-weight: 500;
	color:  #E4E4DB;
}

/*FOOTER*/
footer{
	margin: 40px;
}
.contatti{
	text-decoration: underline;
	background-color: #1A1815;
	text-align: center;
	color: #1A1815;
	margin-top: 10%; 
}
.contatti a:visited{
  color:  #E4E4DB;
}
.copyrights{
	background-color: #1A1815;
	text-align: center;
	color: #E4E4DB;
}